* {
    box-sizing: border-box;
}

html,body{
    height: 100%;
    margin: 0;
}

body{
    background-image: url("../images/fundalAdmin.jpg");
}

body.notLogged{
    overflow-x: hidden;
    background: url("../images/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body.logged{
    overflow-x: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container1{
    width: 100%;
    height: 100%;
}

.container {
    width:50%;
    height:100%;
    padding: 16px;
    background : #1F2833;
    margin:auto;
    border-radius:34px;
}

h1.a{
    font-family: Algerian;
    color: white;
    font-size: max(25px,2.5vw);
}

label{
    font-family: "Comic Sans MS";
    color: white;
}

input[type=text], input[type=password]{
    color: black;
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border-radius: 34px;
    background: #f1f1f1;
    opacity: 70%;
    font-family: "Comic Sans MS";
}

p.user_type{
    color: white;
    font-family: Algerian, serif;
    font-size: 15px;
    -webkit-text-stroke: 0.3px black;
}



input[type=radio]{
    position: relative;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 50%;
}



input[type=text]:focus, input[type=password]:focus {
    background-color: #c5c6c7;
    outline: none;
}

button.submit, button.reset {
    color: black;
    padding: 16px;
    margin: 8px 0;
    border-radius:34px;
    cursor: pointer;
    width: 20%;
    font-family: "Comic Sans MS";
    font-weight: bold;
    font-size: max(10px, 1vw);
}

button.submit{
    background-color: #66fcf1;
}

button.reset{
    background-color: #45a29e;
}

button.reset:hover{
    background-color: #1f2833;
    transition: 0.3s;

}

button.submit:hover{
    background-color: #45a29e;
    transition: 0.3s;
}

button.submit:active{
    background-color: #1f2833;
    transition: 0.1s;
}

button.reset:active{
    background-color: #0b0c10;
    transition: 0.1s;
}

footer.foot{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100px;
    background-color: #45a29e;
    opacity: 60%;
}

div.footer{
    width: 30%;
    margin-top: auto;
    padding: 40px 0;
}

div.gallery {
    margin: 80px;
    border: 10px solid #ccc;
    float: left;
    width: 300px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: 300px;
}

div.desc {
    padding: 15px;
    text-align: center;
    border-top: 1px solid black;
    background-color: white;
}

.variants{
    color: #ffffff;
}

.all_courses{
    text-align: center;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    font-family: "Times New Roman", sans-serif;
    font-size: max(1.3vw,17px);
}


.comments{
    //
}

* {
    box-sizing: border-box;
}

html,body{
    height: 100%;
    margin: 0;
}

body.notLogged{
    overflow-x: hidden;
    background: url("../images/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body.logged{
    overflow-x: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container1{
    width: 100%;
    height: 100%;
}

.container {
    width:50%;
    height:100%;
    padding: 16px;
    background: #1F2833;
    margin:auto;
    border-radius:34px;
}

h1.a{
    font-family: Algerian, serif;
    color: white;
    font-size: max(25px,2.5vw);
    -webkit-text-stroke: 0.7px black;
}

label{
    font-family: "Comic Sans MS", serif;
    color: white;
}

input[type=text], input[type=password]{
    color: black;
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border-radius: 34px;
    background: #f1f1f1;
    opacity: 70%;
    font-family: "Comic Sans MS";
}





input[type=radio]{
    position: relative;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 50%;
}



input[type=text]:focus, input[type=password]:focus {
    background-color: #c5c6c7;
    outline: none;
}

button.submit, button.reset {
    color: black;
    padding: 16px;
    margin: 8px 0;
    border-radius:34px;
    cursor: pointer;
    width: 20%;
    font-family: "Comic Sans MS";
    font-weight: bold;
    font-size: max(10px, 1vw);
}

button.submit{
    background-color: #66fcf1;
}

button.reset{
    background-color: #45a29e;
}

button.reset:hover{
    background-color: #1f2833;
    transition: 0.3s;

}

button.submit:hover{
    background-color: #45a29e;
    transition: 0.3s;
}

button.submit:active{
    background-color: #1f2833;
    transition: 0.1s;
}

button.reset:active{
    background-color: #0b0c10;
    transition: 0.1s;
}

footer.foot{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100px;
    background-color: #45a29e;
    opacity: 60%;
}

div.footer{
    width: 30%;
    margin-top: auto;
    padding: 40px 0;
}

input.white_text{
    color: white;
}

h2.title{
    font-family: Algerian, serif;
}

video.video{
    width: 40%;
    height: 10%;
}

table.table{
    background: white;
}